<template>
  <div>
    <v-container fluid grid-list-lg v-show="user">
      <v-layout>
        <v-flex xs12>
          <h2>Update Profile</h2>
          <hr/>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 md2 xl2>
          <v-tooltip bottom>
            <v-avatar size="150px" slot="activator">
              <img :src="imageUrl" @click="onPickFile" height="150px">
            </v-avatar>
            <span>Click to change picture</span>
          </v-tooltip>
          <input type="file" style="display: none" ref="fileInput" accept="image/*" @change="onFilePicked">
        </v-flex>
        <v-flex xs12 md10 xl10>
          <div>
            <v-text-field label="First Name" v-model="firstName" required/>
            <v-text-field label="Last Name" v-model="lastName" required/>
            <div class="input-group input-group--dirty input-group--required input-group--placeholder input-group--text-field primary--text">
              <label>Location</label>
              <div class="input-group__input">
                <GmapAutocomplete @place_changed="getAddressData" tabindex="0" aria-label="Enter a location" type="text"/>
              </div>
              <div class="input-group__details">
              </div>
            </div>
            <v-container fluid grid-list-lg>
              <v-layout>
                <v-flex xs12 md6>
                  <h4>Address Information</h4>
                  <hr/>
                  <p>Street Number: {{ this.address.street_number }}</p>
                  <p>Road: {{ this.address.route }}</p>
                  <p>City: {{ this.address.locality }}</p>
                  <p>State: {{ this.address.administrative_area_level_1 }}</p>
                  <p>PostCode: {{ this.address.postal_code }}</p>
                  <p>Country: {{ this.address.country }}</p>
                </v-flex>
                <v-flex xs12 md6>
                  <GmapMap style="width: 600px; height: 300px;" :zoom="17" :center="{lat: this.address.latitude, lng: this.address.longitude}">
                  <GmapMarker
                      :position="{
                        lat: this.address.latitude,
                        lng: this.address.longitude,
                      }"/>
                  </GmapMap>
                </v-flex>
              </v-layout>
            </v-container>
           
            <!-- <v-text-field label="Street Number" v-model="address.street_number" placeholder="Street Number" disabled required/>
            <v-text-field label="Road" v-model="address.route" placeholder="Road" disabled required/>
            <v-text-field label="City" v-model="address.locality" placeholder="City" disabled required/>
            <v-text-field label="State" v-model="address.administrative_area_level_1" placeholder="State" disabled required/>
            <v-text-field label="PostCode" v-model="address.postal_code" placeholder="PostCode" disabled required/>
            <v-text-field label="Country" v-model="address.country" placeholder="Country" disabled required/> -->
            <v-btn v-on:click="update">Update</v-btn>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "updateProfile",
  data: function() {
    return {
      firstTime: true,
      firstName: "",
      lastName: "",
      address: {
        longitude: 0,
        latitude: 0
      },
      imageUrl: "",
      image: ""
    };
  },
  methods: {
    getAddressData: function(place) {
      const addressData = {};
      for (var i = 0; i < place.address_components.length; i++) {
        var address_component = place.address_components[i];
        addressData.latitude = place.geometry.location.lat();
        addressData.longitude = place.geometry.location.lng();
        if (address_component.types.indexOf("street_number") > -1) {
          addressData.street_number = address_component.long_name;
        } else if (address_component.types.indexOf("route") > -1) {
          addressData.route = address_component.long_name;
        } else if (address_component.types.indexOf("locality") > -1) {
          addressData.locality = address_component.long_name;
        } else if (
          address_component.types.indexOf("administrative_area_level_1") > -1
        ) {
          addressData.administrative_area_level_1 = address_component.long_name;
        } else if (address_component.types.indexOf("postal_code") > -1) {
          addressData.postal_code = address_component.long_name;
        } else if (address_component.types.indexOf("country") > -1) {
          addressData.country = address_component.long_name;
        }
      }
      this.address = addressData;
    },
    update: function() {
      const user = {
        firstName: this.firstName,
        lastName: this.lastName,
        address: this.address
      };

      if (this.image !== null) {
        user.image = this.image;
        user.imageUrl = "";
      } else {
        user.imageUrl = this.imageUrl;
      }

      this.$store.dispatch("updateUser", user);
    },
    onPickFile() {
      this.$refs.fileInput.click();
    },
    onFilePicked(event) {
      const files = event.target.files;
      let filename = files[0].name;
      if (filename.lastIndexOf(".") <= 0) {
        return alert("Please add a valid file!");
      }
      const fileReader = new FileReader();
      fileReader.addEventListener("load", () => {
        this.imageUrl = fileReader.result;
      });
      fileReader.readAsDataURL(files[0]);
      this.image = files[0];
    }
  },
  computed: {
    auth() {
      return this.$store.getters.auth;
    },
    user() {
      const userData = this.$store.getters.user;
      if (this.firstTime && userData !== null) {
        this.firstName = userData.firstName ? userData.firstName : "";
        this.lastName = userData.lastName ? userData.lastName : "";
        this.address = userData.address ? userData.address : {};
        this.imageUrl = userData.imageUrl
          ? userData.imageUrl
          : "https://pngimg.com/uploads/minions/minions_PNG24.png";
        this.firstTime = false;
      }

      console.log(this.address);
      return userData;
    },
    error() {
      return this.$store.getters.error;
    },
    loading() {
      return this.$store.getters.loading;
    }
  }
};
</script>
