<template>
    <div>
      <v-container fluid grid-list-lg v-if="!loading && user !== null">
        <v-layout>
          <v-flex xs12>
            <h2>Profile</h2>
            <hr/>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex xs12 sm2 md2>
            <v-avatar size="150px" slot="activator">
              <img :src="user.imageUrl" height="150px">
            </v-avatar>
          </v-flex>
          <v-flex xs12 sm10 md10>
            <div class="text-xs-left">
              <p>First Name: {{ user.firstName }}</p>
              <p>Last Name: {{ user.lastName }}</p>
              <p>Street Number: {{ user.address.street_number }}</p>
              <p>Road: {{ user.address.route }}</p>
              <p>City: {{ user.address.locality }}</p>
              <p>State: {{ user.address.administrative_area_level_1 }}</p>
              <p>PostCode: {{ user.address.postal_code }}</p>
              <p>Country: {{ user.address.country }}</p>
              <gmap-map
                :center="position"
                :zoom="18"
                map-type-id="terrain"
                style="width: 500px; height: 300px">
                 <gmap-marker :position="position"></gmap-marker>
              </gmap-map>
            </div>
          </v-flex>
        </v-layout>
        <router-link to="/me/profile/update">
          <v-btn fab bottom right color="pink" dark fixed>
            <v-icon>edit</v-icon>
          </v-btn>
        </router-link>
      </v-container>
      <v-container fluid grid-list-lg v-else>
        <v-layout row wrap>
          <v-flex xs12>
            <loading-alert :text="loading.action"/>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
</template>

<script>
import { Map } from "vue2-google-maps";
export default {
  components: { Map },
  data: function() {
    return {
      position: { lat: 10, lng: 10 }
    };
  },
  computed: {
    user() {
      const user = this.$store.getters.user;
      if (user !== null) {
        if (user.imageUrl === null) {
          user.imageUrl =
            "https://pngimg.com/uploads/minions/minions_PNG24.png";
        }
        if (user.address !== null) {
          this.position = {
            lat: user.address.latitude,
            lng: user.address.longitude
          };
        }
      }
      return user;
    },
    error() {
      return this.$store.getters.error;
    },
    loading() {
      return this.$store.getters.loading;
    }
  }
};
</script>