<template>
  <v-alert color="info" @input="onClose" :value="true">
    <div class="loading-area">
      <v-progress-circular indeterminate color="primary" class="loading-component"/>
      <span class="loading-component"> {{ text }}.... </span>
    </div>
  </v-alert>
</template>

<script>
export default {
  props: ['text'],
  methods: {
    onClose() {
      this.$emit("dismissed");
    }
  }
};
</script>

<style>
.loading-area {
  display: table; 
  border: 20px; 
  text-align: center;
}
.loading-component {
  display: table-cell; 
  vertical-align: middle;
}
</style>
