<template>
  <v-list>
    <template v-for="item in items">
      <v-list-group v-model="item.active" :key="item.title" :prepend-icon="item.icon" no-action v-if="item.items">
        <v-list-tile slot="activator">
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-for="subItem in item.items" :key="subItem.title" :href="subItem.href">
            <v-list-tile-content>
              <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>{{ subItem.icon }}</v-icon>
            </v-list-tile-action>
          </v-list-tile>
      </v-list-group>
      <v-list-tile :key="item.title" :href="item.href" v-else>
        <v-list-tile-action>
          <v-icon light v-html="item.icon"></v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </template>
  </v-list>
</template>

<script>
export default {
  computed: {
    items: function() {
      const isLoggedIn = this.$store.getters.auth != null;
      var items = [
        {
          href: "/",
          title: "Home",
          icon: "home",
          active: true
        }
      ];

      var loggedOutItems = [
        {
          href: "/login",
          title: "Sign In",
          icon: "account_circle"
        },
        {
          href: "/signup",
          title: "Sign Up",
          icon: "face"
        }
      ];

      var loggedInItems = [
        {
          href: "",
          title: "Me",
          icon: "domain",
          items: [
            {
              href: "/me/profile",
              title: "Profile",
              icon: "domain"
            },
            {
              href: "/me/listing",
              title: "listing",
              icon: "domain"
            }
          ]
        },
        {
          href: "/me",
          title: "Dashboard",
          icon: "domain"
        },
        {
          href: "/item",
          title: "item",
          icon: "domain"
        },
      ];

      if (isLoggedIn) {
        for (var i = 0; i < loggedInItems.length; i++) {
          items.push(loggedInItems[i]);
        }
      } else {
        for (var j = 0; j < loggedOutItems.length; j++) {
          items.push(loggedOutItems[j]);
        }
      }

      return items;
    }
  }
};
</script>