<template>
<div>
  <div class="d-flex align-center" style="margin-left: auto">
    <v-btn icon>
      <v-icon>notifications</v-icon>
    </v-btn>

    <v-menu offset-x :close-on-content-click="true" :nudge-bottom="55" :nudge-right="35"  v-model="menu">
      <v-btn icon large slot="activator">
        <v-avatar size="32px" tile>
          <img src="https://vuetifyjs.com/static/doc-images/logo.svg" alt="Vuetify">
        </v-avatar>
      </v-btn>
      <v-card>
        <v-container div v-if="userLoggedIn">
          <div>
            <p>Email: {{ auth.email }}</p>
            <p>User Id: {{ auth.uid }}</p>
            <v-btn v-on:click="signOut">Sign Out</v-btn>
          </div>
        </v-container>
        <v-container v-else><router-link :to="{ name: 'login' }">Login</router-link></v-container>
      </v-card>
    </v-menu>
  </div>
</div>
</template>

<script>
export default {
  name: "Topnav",
  data: function() {
    return {
      auth: null,
      user: null
    }
  },
  methods: {
    signOut: function() {
      this.$store.dispatch("signOut")
    }
  },
  computed: {
    userLoggedIn: function() {
      this.auth = this.$store.getters.auth
      // will use user soon for more info
      this.user = this.$store.getters.user
      const signedIn = this.auth != null
      return signedIn
    },
    loading: function() {
      return this.$store.getters.loading
    }
  }
};
</script>