<template>
  <div>
    <v-container v-if="categorySuggestions.length > 0">
      <v-layout row wrap>
        <v-flex xs12>
          <h3>Categories</h3>
          <hr/>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs4 v-for="category in categorySuggestions" :key="category.id">
          <v-card flat tile>
            <a :href="'/category' + (category.parentId === null?'':'/'+category.parentId) +'/' + category.id">{{category.name}}</a>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container v-if="items && !loading">
      <v-layout>
        <v-flex xs12>
          <h3>Items</h3>
          <hr/>
        </v-flex>
      </v-layout>
      <v-layout row wrap v-for="item in items" :key="item.id">
        <v-flex xs12 sm12 md10 offset-md1>
            <v-container fluid>
              <v-layout row>
                <v-flex xs5 sm4 md3>
                  <v-card-media :src="item.imageUrl" height="130px"/>
                </v-flex>
                <v-flex xs7 sm8 md9>
                    <div>
                      <h5>{{ item.title }}</h5>
                      <div>{{ item.price }}</div>
                      <div>{{ item.location }}</div>
                    </div>
                    <v-btn flat :to="'/item/' + item.parentCategoryId + '/' + item.categoryId + '/' + item.id">
                      <v-icon left light>arrow_forward</v-icon>
                      View Item
                    </v-btn>
                </v-flex>
              </v-layout>
            </v-container>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-divider></v-divider>
      </v-layout>
    </v-container>
    <v-container fluid grid-list-lg v-else>
      <v-layout row wrap>
        <v-flex xs12 sm2 md2>
          <loading-alert :text="loading.action"/>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  props: ["category", "subcategory"],
  data: function() {
    return {
      firstTime: true
    };
  },
  computed: {
    items() {
      let parentCategoryId = null;
      let subcategoryId = null;
      // make sure that the this only run first time
      if (this.firstTime && this.categories.length > 0) {
        if (this.category !== undefined) {
          if (this.category === null) {
            this.$router.push("/*");
          } else {
            parentCategoryId = this.category;
          }
        }
        if (this.subcategory !== undefined) {
          if (this.subcategory === null) {
            this.$router.push("/*");
          } else {
            subcategoryId = this.subcategory;
          }
        }

        this.$store.dispatch("fetchListOfItems", {
          parentCategoryId: parentCategoryId,
          categoryId: subcategoryId
        });
        this.firstTime = false;
      }
      return this.$store.getters.items;
    },
    categories() {
      return this.$store.getters.categories;
    },
    categorySuggestions() {
      const categoryMap = [];
      if (this.categories.length > 0 && this.subcategory === undefined) {
        for (var i = 0; i < this.categories.length; i++) {
          if (
            this.category === undefined &&
            this.categories[i].parentId === null
          ) {
            categoryMap.push(this.categories[i]);
          } else if (
            this.category !== undefined &&
            this.categories[i].parentId !== null &&
            this.categories[i].parentId === this.category
          ) {
            categoryMap.push(this.categories[i]);
          }
        }
      }
      return categoryMap;
    }
  }
};
</script>
