<template>
  <v-container fluid grid-list-sm>
    <v-flex xs12>
      <v-flex xs12 v-if="!loading && user !== null">    
        <v-carousel hide-controls>
          <v-carousel-item v-for="(url,i) in itemImages" :src="url" :key="i">
          </v-carousel-item>
        </v-carousel>
      </v-flex>
      <!-- <v-container fluid grid-list-lg v-if="!loading && user !== null"> -->
      <v-container v-if="!loading && user !== null">

          <v-layout row wrap>
            <v-flex xs12 sm10 md10>
              <div class="text-xs-left">
                <h2>{{ item.title }}</h2>
                <p>Price: {{ item.price }}</p>
                <p>Location: {{ item.price }}</p>
              </div>

              <v-divider></v-divider>

              <v-layout row>
                <v-flex xs9>Rent now {{ item.price }}</v-flex>
                <v-flex xs3><v-btn depressed right color="success">Rent now</v-btn></v-flex>
              </v-layout>
              
              <v-divider></v-divider>

              <div class="text-xs-left">
                <p>Description: {{ item.description }}</p>              
              </div>
            </v-flex>

          </v-layout>
          
          <!-- <router-link :to="updateLink">
            <v-btn fab bottom right color="pink" dark fixed @click.stop="dialog = !dialog">
              <v-icon>edit</v-icon>
            </v-btn>
          </router-link> -->
      </v-container>
        
        <v-container fluid grid-list-lg v-else>
          <v-layout row wrap>
            <v-flex xs12>
              <loading-alert :text="loading.action"/>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-container>
</template>

<script>
export default {
  props: ["id"],
  data: function() {
    return {
      updateLink: "/item/" + this.id + "/update"
    };
  },
  created: function() {
    this.$store.dispatch("fetchAnItem", this.id);
  },
  computed: {
    itemImages() {
      if (
        this.item !== null &&
        this.item.id != null &&
        this.id === this.item.id
      ) {
        var itemImages = [];
        var imgUrls = this.item.imageUrl;
        if (typeof imgUrls === "string") {
          itemImages.push(imgUrls);
        } else {
          itemImages = itemImages;
        }
        return itemImages;
      } else {
        return "";
      }
    },
    item() {
      const item = this.$store.getters.item;
      console.log(item);
      if (item === null || this.id !== item.id) {
        this.$store.dispatch("fetchAnItem", this.id);
        return {};
      } else {
        return item;
      }
    },
    error() {
      return this.$store.getters.error;
    },
    loading() {
      return this.$store.getters.loading;
    }
  }
};
</script>
