<template>
  <v-container>
    <v-layout row wrap v-for="item in items" :key="item.id" class="mb-2">
      <v-flex xs12 sm10 md8 offset-sm1 offset-md2>
        <v-card class="info">
          <v-container fluid v-if="items && !loading">
            <v-layout row>
              <v-flex xs5 sm4 md3>
                <v-card-media
                  :src="item.imageUrl"
                  height="130px"
                ></v-card-media>
              </v-flex>
              <v-flex xs7 sm8 md9>
                <v-card-title primary-title>
                  <div>
                    <h5 class="white--text mb-0">{{ item.title }}</h5>
                    <div>{{ item.price }}</div>
                    <div>{{ item.location }}</div>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-btn flat :to="'/me/listing/' + item.id">
                    <v-icon left light>arrow_forward</v-icon>
                    View Item
                  </v-btn>
                  <v-btn flat :to="'/item/'+ item.parentCategoryId+ '/' + item.categoryId + '/' + item.id">
                    <v-icon left light>arrow_forward</v-icon>
                    Customer View Item
                  </v-btn>
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-container>
          <v-container fluid grid-list-lg v-else>
            <v-layout row wrap>
              <v-flex xs12 sm2 md2>
                <loading-alert :text="loading.action"/>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
    <router-link to="/me/listing/create">
      <v-btn fab bottom right color="pink" dark fixed @click.stop="dialog = !dialog">
        <v-icon>add</v-icon>
      </v-btn>
    </router-link>
  </v-container>
</template>

<script>
export default {
  data: function() {
    return {
      firstTime: true
    };
  },
  computed: {
    auth() {
      return this.$store.getters.auth
    },
    items() {
      if (this.firstTime && this.auth.uid){
        this.$store.dispatch("fetchListOfItems", {
          userId: this.auth.uid
        });
        this.firstTime = false
      }    
      return this.$store.getters.items;
    },
    error() {
      return this.$store.getters.error;
    },
    loading() {
      return this.$store.getters.loading;
    }
  }
};
</script>
