<template>
  <div>
    <v-container fluid grid-list-lg v-if="!loading && item !== null">
      <v-layout>
        <v-flex xs12>
          <h2>Update Item</h2>
          <hr/>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
      <v-flex xs12 sm12 md12>
          <v-card>
            <v-card-title primary-title>
              <div class="headline">Update Listing</div>
            </v-card-title>
            <v-container fluid grid-list-lg>
              <v-layout row wrap>
                <v-flex xs12 md2 xl2>
                  <img :src="imageUrl" height="150px">
                  <v-btn color="primary" @click="onPickFile">Add Photo</v-btn>
                  <input type="file" style="display: none" ref="fileInput" accept="image/*" @change="onFilePicked">
                </v-flex>
                <v-flex xs12 md10 xl10>
                  <div>
                    <v-form v-model="valid" v-on:submit.prevent="update">
                    <v-text-field label="Title" v-model="title" placeholder="Title" required/>
                    <v-text-field label="Price" v-model="price" placeholder="Price" required/>
                    <v-text-field label="Description" v-model="description" placeholder="Description" required/>
                    <v-select v-model="categoryId" :items="categories" label="Select Category" single-line bottom item-text="name" item-value="id" autocomplete>
                      <template slot="item" slot-scope="data">
                        <template v-if="typeof data.item !== 'object'">  
                          <v-list-tile-content v-text="data.item"/>
                        </template>
                        <template v-else>
                          <v-list-tile-content>
                            <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                            <v-list-tile-sub-title v-html="data.item.parentName"></v-list-tile-sub-title>
                          </v-list-tile-content>
                        </template>
                      </template>
                    </v-select>
                    <div class="text-xs-left">
                      <v-btn type="submit" name="action">Update</v-btn>
                    </div>
                    </v-form>
                  </div>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container fluid grid-list-lg v-else>
      <v-layout row wrap>
        <v-flex xs12>
          <loading-alert :text="loading.action"/>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
const catagoriesUtil = require("../../utils/categories.js");
export default {
  props: ["id"],
  name: "updateItem",
  data: function() {
    return {
      title: "",
      price: "",
      description: "",
      categoryId: null,
      image: null,
      imageUrl: null,
      firstTime: true
    };
  },
  created: function() {
    this.$store.dispatch("fetchAnItem", this.id);
  },
  computed: {
    item() {
      const item = this.$store.getters.item;
      if (item === null || this.id !== item.id) {
        this.$store.dispatch("fetchAnItem", this.id);
        return {};
      } else {
        if (item.creatorId !== this.auth.uid) {
          router.push("/*");
        }
        return item;
      }
    }
  },
  methods: {
    update: function() {
      const item = {
        id: this.id,
        title: this.title,
        price: this.price,
        description: this.description,
        categoryId: this.categoryId,
        parentCategoryId: catagoriesUtil.getParentId(
          this.categoryId,
          this.$store.getters.categories
        )
      };

      if (this.image !== null) {
        item.image = this.image;
        item.imageUrl = "";
      } else {
        item.imageUrl = this.imageUrl;
      }

      this.$store.dispatch("updateItem", item);
    },
    onPickFile() {
      this.$refs.fileInput.click();
    },
    onFilePicked(event) {
      const files = event.target.files;
      let filename = files[0].name;
      if (filename.lastIndexOf(".") <= 0) {
        return alert("Please add a valid file!");
      }
      const fileReader = new FileReader();
      fileReader.addEventListener("load", () => {
        this.imageUrl = fileReader.result;
      });
      fileReader.readAsDataURL(files[0]);
      this.image = files[0];
    }
  },
  computed: {
    auth() {
      return this.$store.getters.auth;
    },
    item() {
      if (this.firstTime && this.auth.uid) {
        const item = this.$store.getters.item;
        if (item.creatorId !== this.auth.uid) {
          router.push("/*")
        }
        if (item === null || this.id !== item.id) {
          this.$store.dispatch("fetchAnItem", this.id);
          return {};
        } else {
          this.title = item ? item.title : "";
          this.price = item ? item.price : "";
          this.description = item ? item.description : "";
          this.imageUrl = item ? item.imageUrl : "";
          if (item) {
            this.categoryId = item.categoryId;
          }
          return item;
        }
      }
    },
    categories() {
      return catagoriesUtil.setUpCategoriesForDisplay(
        this.$store.getters.categories
      );
    },
    error() {
      return this.$store.getters.error;
    },
    loading() {
      return this.$store.getters.loading;
    }
  }
};
</script>
