<template>
    <div>
      <v-container fluid grid-list-lg v-if="!loading">
        <v-layout>
          <v-flex xs12>
            <h2>Item</h2>
            <hr/>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex xs12 sm2 md2>
            <v-avatar size="150px" slot="activator">
              <img :src="item.imageUrl" height="150px">
            </v-avatar>
          </v-flex>
          <v-flex xs12 sm10 md10>
            <div class="text-xs-left">
              <p>Title: {{ item.title }}</p>
              <p>Price: {{ item.price }}</p>
              <p>Description: {{ item.description }}</p>
            </div>
          </v-flex>
        </v-layout>
        <router-link :to="updateLink" v-if="auth.uid === item.creatorId">
          <v-btn fab bottom right color="pink" dark fixed>
            <v-icon>edit</v-icon>
          </v-btn>
        </router-link>
      </v-container>
      <v-container fluid grid-list-lg v-else>
        <v-layout row v-if="error">
          <v-flex xs12>
            <error-alert @dismissed="onDismissed" :text="error.message"></error-alert>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex xs12>
            <loading-alert :text="loading.action"/>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
</template>

<script>
export default {
  props: ["id"],
  data: function() {
    return {
      updateLink: "/me/listing/" + this.id + "/update"
    };
  },
  created: function() {
    this.$store.dispatch("fetchAnItem", this.id);
  },
  computed: {
    auth() {
      return this.$store.getters.auth;
    },
    item() {
      const item = this.$store.getters.item;
      if (item === null || this.id !== item.id) {
        this.$store.dispatch("fetchAnItem", this.id);
        return {};
      } else {
        return item;
      }
    },
    error() {
      return this.$store.getters.error;
    },
    loading() {
      return this.$store.getters.loading;
    }
  }
};
</script>
