<template>
    <div>
      This is user dashboard
    </div>
</template>

<script>
export default {
  computed: {
    auth() {
      return this.$store.getters.auth;
    }
  },
  watch: {
    auth(value) {
      if (value === null) {
        this.$router.push("/login");
      }
    }
  }
};
</script>