<template>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex xs0 sm1 md2/>
          <v-flex xs12 sm10 md8>
            <v-card>
              <v-card-title primary-title>
                <div class="headline">Recovery You Account</div>
              </v-card-title>
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs12>
                    <div>
                    <v-form v-model="valid" v-on:submit.prevent="forgotPassword">
                      <v-text-field label="Email" v-model="email" placeholder="Email" required/>
                      <div class="text-xs-left">
                        <v-btn type="submit" name="action">Send Email</v-btn>
                      </div>
                    </v-form>
                    </div>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
        </v-flex>
        <v-flex xs0 sm1 md2/>
      </v-layout>
    </v-container>
</template>

<script>
export default {
  name: "signup",
  data: function() {
    return {
      email: ""
    }
  },
  methods: {
    forgotPassword: function() {
      const email = this.email
      this.$store.dispatch("sendPasswordReset", email)
    }
  }
}
</script>