<template>
    <div>
      <v-container grid-list-md>
        <v-layout row v-if="error">
          <v-flex xs12>
            <error-alert @dismissed="onDismissed" :text="error.message"></error-alert>
          </v-flex>
        </v-layout>
        <v-layout row v-if="loading">
          <v-flex xs12>
            <loading-alert :text="loading.action"/>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card>
              <v-card-title primary-title>
                <div class="headline">
                  Sign In
                </div>
              </v-card-title>
              <v-container fluid grid-list-lg>
                <v-layout row wrap>
                  <v-flex xs12 md8 xl8>
                    <div>
                      <v-form v-model="valid" v-on:submit.prevent="signIn">
                        <v-text-field label="Email" v-model="email" placeholder="Email" required/>
                        <v-text-field label="Password" v-model="password" type="password" placeholder="Password" required/>
                        <div class="text-xs-left">
                          <v-btn type="submit" name="action">Sign In</v-btn>
                          <br/>
                          Don't have account? <router-link to="/signup">Sign Up</router-link>
                          <br/>
                          Forgot you password? <router-link to="/forgotpassword">I forgot my password</router-link>
                        </div>
                      </v-form>
                    </div>
                  </v-flex>
                  <v-flex xs12 md4 xl4>
                    <div>
                      <v-btn color="error" @click="signInWithGoogle" >Google Sign In</v-btn>
                    </div>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
</template>

<script>

export default {
  name: "login",
  data: function() {
    return {
      email: "",
      password: "",
      action: "Signing in"
    }
  },
  computed: {
    auth() {
      return this.$store.getters.auth;
    },
    error() {
      return this.$store.getters.error;
    },
    loading() {
      return this.$store.getters.loading;
    }
  },
  watch: {
    auth(value) {
      if (value !== null && value !== undefined) {
        this.$router.push("/dashboard");
      }
    }
  },
  methods: {
    signIn: function() {
      this.onDismissed()
      const auth = {
        email: this.email,
        password: this.password
      }
      this.$store.dispatch("signIn", auth)
    },
    signInWithGoogle: function() {
      
      this.$store.dispatch("signInViaGoogle")
    },
    onDismissed: function() {
      this.$store.dispatch("clearError")
    }
  }
};
</script>
