<template>
  <div>
    <v-container grid-list-md text-xs-center>
      <v-layout row v-if="error">
        <v-flex xs12>
          <error-alert @dismissed="onDismissed" :text="error.message"></error-alert>
        </v-flex>
      </v-layout>
      <v-layout row v-if="loading">
        <v-flex xs12>
          <loading-alert :text="loading.action"/>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
          <v-flex xs12>
            <v-card>
              <v-card-title primary-title>
                <div class="headline">Let's create a new account </div>
              </v-card-title>
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs12>
                    <div>
                    <v-form v-model="valid" v-on:submit.prevent="signUp">
                    <v-text-field label="Email" v-model="email" required/>
                    <v-text-field label="Password" v-model="password" type="password" required/>
                    <div class="text-xs-left">
                      <v-btn type="submit" name="action">Sign Up</v-btn>
                      <router-link to="/login">Sign In</router-link>
                    </div>
                    </v-form>
                    </div>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "signup",
  data: function() {
    return {
      email: "",
      password: ""
    };
  },
  computed: {
    auth() {
      return this.$store.getters.auth;
    },
    error() {
      return this.$store.getters.error;
    },
    loading() {
      return this.$store.getters.loading;
    }
  },
  methods: {
    signUp: function() {
      this.onDismissed()
      const auth = {
        email: this.email,
        password: this.password
      };

      this.$store.dispatch("signUp", auth);
    },
    onDismissed: function() {
      this.$store.dispatch("clearError")
    }
  }
};
</script>
