<template> 
 <v-app>
    <v-navigation-drawer fixed clipped app v-model="drawer">
      <v-list>
          <v-list-tile>
              <v-list-tile-content>
                  <v-list-tile-title >
                      <span>Menu</span>
                  </v-list-tile-title>
              </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
          <navigation/>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="blue darken-3" dark app clipped-left fixed>
      <v-toolbar-title :style="$vuetify.breakpoint.smAndUp ? 'width: 300px; min-width: 250px' : 'min-width: 72px'" class="ml-0 pl-3">
    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
    <span class="hidden-xs-only">Renty</span>
    </v-toolbar-title>
    <v-text-field
      light
      solo
      prepend-icon="search"
      placeholder="Search"
      style="max-width: 500px; min-width: 128px"
    ></v-text-field>
      <topnav class="d-flex align-center" style="margin-left: auto"></topnav>
    </v-toolbar>
    <v-content>
       <v-container fluid>
         <main>
            <v-fade-transition mode="out-in">
                <router-view></router-view>
            </v-fade-transition>
        </main>
      </v-container> 
     </v-content>
  </v-app>
</template>

<script>
import Topnav from "./components/layout/Topnav.vue";
import Navigation from "./components/layout/Navigation.vue";
export default {
  data() {
    return {
      drawer: false
    };
  },
  components: {
    Topnav,
    Navigation
  }
};
</script>

<style lang="scss">
@import "main.css";
</style>
